<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psj.ipfs_server">

    <application>

        <service
            android:name="com.psj.ipfs_server.services.CmdIntentService"
            android:exported="false" />

        <service
            android:name="com.psj.ipfs_server.services.BwService"
            android:exported="false" />


    </application>


</manifest>
